<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Ionic 4 Push
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-list-header color="medium">
        Push Notifications
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{pushes.param1}}</h3>
          </ion-text>
          <p>{{pushes.param2}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!pushes.length" class="empty">
    You have no notifications. Send a new notification to see it in the app.
  </div>
  <div>
    <ion-button type="button" (click)="sendMessage()">Send Notification</ion-button>
  </div>
</ion-content>