<app-header></app-header>
<ion-content>
  <div *ngIf="!visible_myaccount_details_div">
      <ion-item no-margin color="" lines="none">
          <img src="/assets/shapes.svg" alt="" />
      </ion-item>
      <ion-item padding lines="none">
          <ion-text>Please login or sign up your account</ion-text>
      </ion-item>
      <ion-button type="button" expand="full" (click)="openLoginModal()" color="tertiary">Sign In</ion-button>
  </div>
  <div *ngIf="visible_myaccount_details_div">
    <ion-card>
        <img src="/assets/shapes.svg" alt="" />
        <ion-title>
          {{name}}
        </ion-title>
    </ion-card>
    <ion-card>
      <img src="/assets/shapes.svg" alt="" />
      <ion-title (click)="goToMyaddress()">
        My Address
      </ion-title>
  </ion-card>
  </div>
    
</ion-content>
