ion-icon {
    font-size: 20px; //Preferred size here
}
._c_card-cl-bag{
    background-color: #fff;
    
}
._c_card-cl-ma-r-l-b-n{
    margin-right:0px;
    margin-left:0px; 
    border-radius: 0px;
}
._c_card-cl-ma-r-l-n{
    margin-right:0px;
    margin-left:0px; 
    border-radius: 0px;
}

._c_title-f-sm{
    font-size: 14px;
    color:#737373;
    font-family: inherit;
}


// .slider-slide {
//     height: auto;
//     display: flex;
//  }