<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Id
        </div>
      </ion-col>
      <ion-col>
        <div>
          Policy Number
        </div>
      </ion-col>
      <ion-col>
        <div>
          Policy Amount
        </div>
      </ion-col>
      <ion-col>
        <div>
          Operations
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="visibleKey">
      <ion-row *ngFor="let policy of policies">
        <ion-col>
          <div>
            {{policy.id}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{policy.number}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{policy.amount}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button (click)="editProduct(policy.id)" size="small"><ion-icon name="create"></ion-icon></ion-button>
            <ion-button (click)="deleteProduct(policy.id)" size="small"><ion-icon name="trash"></ion-icon></ion-button>
            
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
