<app-header></app-header>
<ion-content>
  <div *ngIf="visibleKey" class="products-list-div">
    <ion-grid no-padding>
      <ion-row >
        <ion-col size="6" *ngFor="let each_item of result" class="_c_col">
          <ion-card class="_c_card-cl-bag  _c_card-cl-ma-r-l-b-n">
            <ion-img [src]="this.medie_url+each_item.img"></ion-img>
            <ion-card-content>
              {{each_item.name}}
              <ion-button fill="outline" slot="end" size="small" (click)="getProduct(each_item.id)">View</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>