ion-content{
    --ion-background-color:#f4f5f8;
}

._c_card-cl-bag{
    background-color: #fff;
    
}
._c_card-cl-ma-r-l-b-n{
    margin-right:0px;
    margin-left:0px; 
    border-radius: 0px;
}
._c_card-cl-ma-t-n{
    margin-top:0px; 
}
._c_img_m_l_r{
    margin-right:15px;
    margin-left:15px; 
}

._c_footer {
    position:fixed;
    bottom:0;
    height:50px;
 }


